<html>
<head>
  <title>Simple Framekiller Tester</title>
</head>
<body>
  <h1>A simple framekiller tester</h1>
  <p>
    Open <code>http://framekiller.herokuapp.com/your_website_urlencoded</code>.
  </p>
  <p>
    Inject script with <code>http://framekiller.herokuapp.com/your_website_urlencoded?script=url_encoded</code>.
  </p>
  <h2>Example</h2>
    <a href="/http%3A%2F%2Fgoogle.com">
      Google
    </a>
</body>
