<html>
  <head>
    <title>FK</title>
    <meta name="referrer" content="never">
  </head>
  <body style="margin:0px;padding:0px;overflow:hidden">
    <iframe
      src="<%= @uri %>" 
      frameborder="0" 
      style="overflow:hidden;height:100%;width:100%" 
      height="100%"
      sandbox="allow-scripts allow-same-origin"
      width="100%"></iframe>
   <% if @script %>
     <script type="text/javascript" src="<%= @script %>">
     </script>
    <% end %>
  </body>
</html>
